html,
body {
  scroll-behavior: smooth;
}
.portSection {
  min-height: 40vh;
  margin: 0 0 5vh 0;
}
.contactField {
  max-width: 50%;
  min-width: 424px;
  height: 4rem;
  border-radius: 30px;
  margin-bottom: 16px;
  font-size: 1rem;
  font-family: Poppins;
  padding-left: 18px;
  border: 1px solid #cecece;
}
.contactFieldLabel {
  background-color: white;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  width: 104px;
  text-align: center;
  transform: translate(24px, 12px);
}
.contactBtn {
  width: 25%;
  height: 4rem;
  border-radius: 30px;
  margin-bottom: 16px;
  border: 1px solid #cecece;
  background-color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.sectionTitle {
  color: black;
  font-family: Poppins;
  margin: '1rem 0';
}
.subtitle {
  color: #6288d5;
  margin: 12px 0;
}
.hideOnSM {
  display: none;
}
.introCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 1rem;
}
.projectCard {
  height: 100%;
  width: auto;
  opacity: 1;
  position: absolute;
  border-radius: 10px;
}
.projImgHover {
  width: 40%;
  position: relative;
  min-width: 264px;
  height: 240px;
  margin-right: 24px;
  margin-bottom: 36px;
  /* border: 1px solid #dedede; */
  box-shadow: 1px 1px 2px #cecece;
  /* border-radius: 10px; */
  overflow: hidden;
}
.projImgHover > .projLinks {
  width: 100%;
  text-align: center;
  background-color: orange;
  font-family: 'Poppins';
  font-size: 1.25rem;
  color: white;
  position: absolute;
  bottom: -2.75rem;
  left: 0rem;
  font-weight: 700;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  background-color: #0080ff;
  border-radius: 0 0 10px 10px;
}
.projImgHover > .projLinks > a {
  color: white;
  padding-top: 4px;
}
.projImgHover > h3 {
  width: 100%;
  text-align: center;
  background-color: orange;
  font-family: 'Poppins';
  font-size: 1.25rem;
  color: white;
  position: absolute;
  top: -4rem;
  left: 0rem;
  font-weight: 700;
  z-index: 99;
  border-radius: 10px 10px 0 0;
}
.projImgHover:hover > h3 {
  top: 0rem;
  transition: 0.3s;
  background-color: #0080ff;
}
.projImgHover:hover > .projLinks {
  bottom: 0rem;
  transition: 0.5s;
}

@media only screen and (max-width: 821px) {
  html,
  body {
    scroll-behavior: smooth;
  }
  .portSection {
    min-height: 512px;
    width: 100%;
    margin: 0 0 5vh 0;
  }
  .contactField {
    max-width: 90vw;
    min-width: 224px;
    height: 4rem;
    border-radius: 30px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-family: Poppins;
    padding-left: 18px;
    border: 1px solid #cecece;
  }
  .contactFieldLabel {
    background-color: white;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 700;
    width: 104px;
    text-align: center;
    transform: translate(24px, 1px);
  }
  .contactBtn {
    width: 50vw;
    height: 4rem;
    border-radius: 30px;
    margin-bottom: 16px;
    border: 1px solid #cecece;
    background-color: white;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }
  .subtitle {
    color: #6288d5;
  }
  .hideOnXS {
    display: none;
  }
  .introCard {
    flex-direction: column;
  }
  .projectCard {
    height: 100%;
    width: auto;
    opacity: 1;
    position: absolute;
    border-radius: 10px;
  }
  .projImgHover {
    width: 40%;
    position: relative;
    min-width: 264px;
    height: 240px;
    margin-right: 24px;
    margin-bottom: 36px;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: none;
    overflow: hidden;
  }
  .projImgHover > .projLinks {
    width: 100%;
    text-align: center;
    background-color: #0080ff;
    font-size: 0.75rem;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    font-weight: 700;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
  }
  .projImgHover > .projLinks > a {
    color: white;
    padding-top: 4px;
  }
  .projImgHover > h3 {
    width: 95%;
    text-align: center;
    padding: 0 12px;
    background-color: #0080ff;
    font-size: 0.75rem;
    color: white;
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-weight: 700;
    z-index: 99;
    border-radius: 10px 10px 0 0;
  }
}
