.portSection {
  min-height: 40vh;
  padding: 0vh 5vh;
  margin: 5vh 0;
}
.contactField {
  min-width: 512;
  max-width: 60vw;
  margin: 2rem 0;
}
.sectionTitle {
  color: white;
}
.subtitle {
  color: #6288d5;
  margin: 12px 0;
}
.hideOnSM {
  display: none;
}
.introCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
  .portSection {
    min-height: 512px;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }
  .contactField {
    min-width: 302;
    max-width: 80vw;
    margin: 2rem 0;
  }
  .subtitle {
    color: #6288d5;
  }
  .hideOnXS {
    display: none;
  }
  .introCard {
    flex-direction: column;
  }
}
