*,
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: Poppins, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
/* -apple-system, BlinkMacSystemFont, Segoe UI, */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}
