.postBody {
  padding: 2rem 8rem 2rem 1rem;
  color: black;
  z-index: 99 !important;
}
.postBody p {
  font-size: 1.25rem;
}
.postBody h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-left: 1rem;
}
.postBody img {
  width: 90%;
  /* width: 600px; */
  color: #cecece;
  margin: 0 5%;
  height: auto;
}
.postBody code {
  display: none;
  /* background: #3e3e3e;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-left: 3px solid #f36d33;
  color: #cecece;
  page-break-inside: avoid;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word; */
}
.sideLists {
  margin-right: 64px;
}
@media only screen and (max-width: 600px) {
  .postBody {
    padding: 1rem;
    font-size: 1rem;
    color: black;
  }
  .postBody p {
    font-size: 0.8rem;
  }
  .postBody img {
    max-width: 90%;
    width: 300px;
    margin: 0;
    color: black;
    height: auto;
  }
  .deckgo-highlight-code-ubuntu {
    min-width: 500px;
    overflow-x: scroll;
  }
  .sideLists {
    margin: 2rem 0;
    padding-top: 0;
  }
}
