.main {
  overflow: hidden;
  background-color: #0080ff;
  min-height: 100vh;
  max-width: 100vw;
  flex: 1;
}
.bgImg {
  min-height: 100vh;
  max-width: 100vw;
  min-width: 200px;
}
.imgOverlay {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.8) 20%,
    rgba(254, 254, 254, 0.9) 40%,
    rgba(254, 254, 254, 1) 80%
  );
}
@media only screen and (max-width: 821px) {
  .main {
    /* padding-top: 54px; */
  }
}

/* Dark overlay:
    rgba(74, 74, 74, 0.8) 0%,
    rgba(74, 74, 74, 0.9) 20%,
    rgba(74, 74, 74, 1) 49% */
