.main {
  overflow: hidden;
  background-color: #3e3e3e;
  min-height: 88vh;
  padding-top: 72px;
}
.bgImg {
  min-width: 200;
  min-height: 200;
}
.imgOverlay {
  height: 100%;
  min-height: 88vh;
  background: linear-gradient(
    180deg,
    rgba(74, 74, 74, 0.6) 0%,
    rgba(74, 74, 74, 0.7562359943977591) 20%,
    rgba(74, 74, 74, 1) 49%
  );
}
