.header {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  padding: 1rem 5vw;
  box-shadow: 2px 2px 4px #aeaeae;
  z-index: 100;
}
.brand {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.navLinks {
  display: flex;
  width: 360px;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.navLink {
  color: #3e3e3e;
  text-decoration: none;
}
.navLink * {
  color: #ccc;
  text-decoration: none;
}
.navLink:hover {
  text-decoration: underlined;
}
.active {
  color: #0080ff;
  text-decoration: none;
}
.active:hover {
  text-decoration: underline;
}
