* {
  font-family: Poppins;
}

.footer {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  background-color: white;
  width: 80vw;
  font-size: 1rem;
  margin-top: -4rem;
  height: 48px;
  display: none;
  z-index: 99;
  color: #37474f;
}
